*{
    box-sizing: border-box;
    margin: 0%;
}
html{
    background-repeat: no-repeat;
    background: linear-gradient(135deg, rgba(208, 110, 12, 1), rgba(204, 108, 11, 1), rgba(61, 136, 230, 1));

}
.navbar{
    background-color: rgb(75, 4, 4);
    color: aliceblue;
    padding-left: 20%;
    position: relative;
}
.navbar i{
    padding-left: 5%;
}
header{
    position: fixed;
    z-index: 1;

}
.hero{
    color: aliceblue;
    background-image: url(./images/mh-tri-TadNRJiOHB4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    border-bottom: solid #00000099;
}
.hero p{
    color: blue;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.hero h2{
    
    color: black;
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding-top: 11%;

}
h2{
    padding-top: 1%;

}
.logo{
    height: 15vh;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100vw;
    background-color: rgba(0,0,0, 0.8);
}
li{
    padding: 1%;
    justify-content: center;
}
a{
    color: aliceblue;
}
section{
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    
}
article{
    margin: 1%;
    padding: 10%;
    border: black solid 2px;
    background-image: url(./images/austin-chan-ukzHlkoz1IE-unsplash.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 10px #ffffff99;
}
.getquote{
    background-color: white;
    padding-left: 15%;
    opacity: .85;
    box-shadow: 5px 0px #000000;
    border-bottom: solid #00000099;
}
.getquote button{
    border-radius: 1px;
    border-color: rgba(204, 108, 11, 1);
    background-color: transparent;
    padding: 5%;
    margin-bottom: 5%;
}
.quality{
    /* border: solid black 2px; */
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 10%;
}
.qualitytext{
    margin: 1%;
    /* border: solid black 2px; */
    padding-bottom: 5%;
}
.columnsection{
    display: flex;
    flex-direction: row;
    flex-shrink: initial;
    padding-right: 20%;
    padding-left: 2%;
    margin-right: 40%;
    width: 725px;
    height: 466px;
    background-color: aliceblue;
}
.column1 img{
    display: flex;
    flex-shrink: initial;
}
.column1{
    margin-right: 12%;
}
.column2{
    margin-right: 16%;
}
.contact-form{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 10%;
    padding-left: 5%;
    flex-wrap: wrap;
    border: solid black 0.5px;
    box-shadow: 3px 5px 15px 5px #ffffff99;
    border-radius: 2%;
    height: 10%;
    width: 40%;
}
textarea{
    max-width: 100%;
    max-height: 50%;
}
input{
    max-width: 35%;
}

footer{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    color: aliceblue;
    background-color: rgba(0,0,0, 0.8);
}
.profilepic{
    margin-left: 60%;
}
 @media screen and (min-width:100px) and (max-width:800px) {
    
    html{
        overflow-x: hidden;
        width: fit-content;
    }
    body{
        overflow-x: hidden;
        width: 100vw
    };
    .navbar{
        background-color: rgb(75, 4, 4);
        color: aliceblue;
        width: 100%;
        padding-left: 10%;
        position: relative;
    }
    .navbar i{
        padding-left: 0%;
    }
    header{
        position: fixed;
        z-index: 1;
    
    }
    .hero{
        color: aliceblue;
        background-image: url(./images/mh-tri-TadNRJiOHB4-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        width: 100%;
        border-bottom: solid #00000099;
    }
    .hero p{
        color: blue;
        display: flex;
        justify-content: center;
        font-weight: 600;
        justify-content: center;
    }
    .hero h2{
        color: red;
        display: flex;
        justify-content: center;
        font-weight: 600;
        justify-content: center;
        padding-top: 31%;
    }
    h2{
        padding-top: 1%;
    
    }
    .logo{
        height: 15vh;
    }
    .nav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        width: 100vw;
        background-color: rgba(0,0,0, 0.8);
    }
    li{
        padding: 1%;
        justify-content: center;
    }
    a{
        color: aliceblue;
    }
    section{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        padding-bottom: 10%;
        width: 85%;
    }
    article{
        display: flex;
        justify-items: center;
        margin: 5% 15%;
        padding: 10%;
        border: black solid 2px;
        background-image: url(./images/austin-chan-ukzHlkoz1IE-unsplash.jpg);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15%;
    }
    .getquote{
        background-color: white;
        padding-left: 0%;
        opacity: .85;
        height: 40vh;
        border-bottom: solid #00000099;
    }
    .getquote h2{
        display: flex;
        justify-content: center;
    }
    .getquote button{
        margin-top: 10%;
        margin-left: 40%;
        border-radius: 1px;
        border-color: rgba(204, 108, 11, 1);
        background-color: transparent;
        padding: 5%;
        margin-bottom: 5%;
    }
    .quality{
        display: flex;
        flex-direction: column;
        /* border: solid black 2px; */
       margin:0;
    }
    .qualitytext{
        display: flex;
        flex-wrap: wrap;
        margin: 20%;
        /* border: solid black 2px; */
        padding-bottom: 5%;
    }
    
    .columnsection{
        display: flex;
        flex-direction: column;
        /* width: 390px;
        height: 950px; */
        width: 100%;
        height: 200%;
        padding-right: 2%;
        padding-left: 2%;
        margin-left: 0%;
        margin-right: 0px;
        background-color: aliceblue;
        margin-bottom: 15%;
        border-bottom: solid #00000099;
    }
    .column1{
        margin-right: 12%;
        margin-bottom: 15%;
    }
    .column1 img{
        width: 95%;
        height: 190%;
    }
    .column2{
        margin-right: 16%;
    }
    .column2 img{
        width: 95%;
        height: 190%;
    }
    .contact-form{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-bottom: 10%;
        flex-wrap: wrap;
        border: solid black 0.5px;
        box-shadow: 3px 5px 15px 5px #ffffff99;
        border-radius: 2%;
        height: 10%;
        width: 90%;
        line-height: 175%;
    }
    textarea{
        max-width: 70%;
        max-height: 100%;
    }
    input{
        max-width: 35%;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        color: aliceblue;
        background-color: rgba(0,0,0, 0.8);
    }
    .profilepic, img{
        margin-left: 0%;
        height: 185%;
        width: 95%;
    }
 
}
/*@media screen (min-width: 801px) and (max-width:1759px) {
    
}
@media screen (min-width:2700px) {
    
} */