@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
}
html{
    background-repeat: no-repeat;
    background: linear-gradient(135deg, rgb(64, 64, 64), rgba(64, 64, 64, 1), rgb(98, 252, 64));
    /* background: linear-gradient(135deg, rgba(208, 110, 12, 1), rgba(204, 108, 11, 1), rgba(61, 136, 230, 1)); */

}
.navbar{
    /* background-color: rgb(75, 4, 4); */
    background-color: rgb(98, 252, 64);
    color: black;
    padding-left: 20%;
    position: relative;
}
.navbar i{
    padding-left: 5%;
}
header{
    position: fixed;
    z-index: 1;

}
.hero{
    color: aliceblue;
    background-image: url(./images/mh-tri-TadNRJiOHB4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    border-bottom: solid #00000099;
    padding: 25%;
}
.hero p{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 250%;
}
.hero h2{
    
    color: rgba(255,255,255, 0.85);
    display: flex;
    justify-content: center;
    font-size: 450%;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;

}
h2{
    padding-top: 1%;
    background-color: rgba(0,0,0, 0.27);

}
.logo{
    height: 15vh;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100vw;
    background-image: linear-gradient(to left ,rgba(0,0,0, 0.8), rgba(0,0,0, 0));
}
li{
    padding: 1%;
    justify-content: center;
}
a{
    color: aliceblue;
}
a:hover{
    color: chartreuse;
    font-weight: bolder;
}
i:hover{
    color: red;
}
section{
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    
}
article{
    margin: 1%;
    padding: 5%;
    border: black solid 2px;
    background-image: url(./images/austin-chan-ukzHlkoz1IE-unsplash.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 10px #ffffff99;
}
article div{
    background-color: rgba(255,255,255, 0.6);
    background-size:100%;
    padding: 0%;
}
.getquote{
    background-color: white;
    padding-left: 15%;
    opacity: .85;
    box-shadow: 5px 0px #000000;
    border-bottom: solid #00000099;
}
.getquote button{
    border: solid 5px;
    border-radius: 10px;
    border-color: rgba(204, 108, 11, 1);
    background-color: transparent;
    padding: 1%;
    margin-bottom: 5%;
}
.getquote button:hover{
    background-color: rgba(204, 108, 11, 1);
    transform: translate(10%);
    transition: transform 1.3s ease-in-out;
}
.contractor{
    /* border: solid black 2px; */
    margin-left: 0%;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 10%;
}
.contractortext{
    margin: 1%;
    color: white;
    /* border: solid black 2px; */
    padding-bottom: 5%;
    padding: 2% 4%;
    font-size: 135%;
}
.columnsection{
    display: flex;
    flex-direction: row;
    flex-shrink: initial;
    padding-right: 20%;
    padding-left: 2%;
    margin-right: 40%;
    margin-left: 20%;
    width: 60%;
    height: 486px;
    background-color: rgba(255,255,255, 0.4);
}
.column1 img{
    display: flex;
    flex-shrink: initial;
}
.column1{
    margin-right: 12%;
}
.column2{
    margin-right: 16%;
}
.contact-form{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 10%;
    padding-left: 5%;
    padding-top: 20px;
    flex-wrap: wrap;
    border: solid black 0.5px;
    box-shadow: 3px 5px 15px 5px #ffffff99;
    border-radius: 2%;
    height: 10%;
    width: 40%;
}
textarea{
    max-width: 100%;
    max-height: 50%;
}
input{
    max-width: 35%;
}

footer{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    color: aliceblue;
    /* background-color: rgba(0,0,0, 0.8); */
    background-image: linear-gradient(to right ,rgba(0,0,0, 0.8), rgba(0,0,0, 0));
}
.profilepic{
    margin-left: 60%;
}
@media screen and (min-width:100px) and (max-width:800px) {
    
    html{
        overflow-x: hidden;
        width: fit-content;
    }
    body{
        overflow-x: hidden;
        width: 100vw
    };
    .navbar{
        /* background-color: rgb(75, 4, 4); */
        background-color: rgb(98, 252, 64);
        color: aliceblue;
        width: 100%;
        padding-left: 10%;
        position: relative;
    }
    .navbar i{
        padding-left: 0%;
    }
    header{
        position: fixed;
        z-index: 1;
    
    }
    .hero{
        display: flex;
        justify-self: center;
        color: aliceblue;
        background-image: url(./images/mh-tri-TadNRJiOHB4-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        width: 100%;
        border-bottom: solid #00000099;
        padding: 50% 10%;
    }
    .hero p{
        color: white;
        display: flex;
        justify-content: center;
        font-weight: 600;
        justify-content: center;
        background-color: rgba(0,0,0, 0.27);
    }
    .hero h2{
        font-size: 400%;
        width: 100vw;
        color: white;
        display: flex;
        justify-content: center;
        font-weight: 600;
        justify-content: center;
        background-color: rgba(0,0,0, 0.27);
        
    }
    h2{
        padding: 5%;
        background-color: rgba(0,0,0, 0.27);
    
    }
    .logo{
        height: 15vh;
    }
    .nav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        width: 100vw;
        background-image: linear-gradient(to left ,rgba(0,0,0, 0.8), rgba(0,0,0, 0));
    }
    li{
        padding: 1%;
        justify-content: center;
    }
    a{
        color: aliceblue;
    }
    section{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        padding-bottom: 10%;
        width: 85%;
    }
    article{
        display: flex;
        justify-items: center;
        margin: 5% 15%;
        padding: 10%;
        border: black solid 2px;
        background-image: url(./images/austin-chan-ukzHlkoz1IE-unsplash.jpg);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15%;
    }
    .quality{
        display: flex;
        flex-direction: column;
        /* border: solid black 2px; */
       margin:0;
    }
    .qualitytext{
        display: flex;
        flex-wrap: wrap;
        margin: 10%;
        /* border: solid black 2px; */
        padding-bottom: 5%;
    }
    
    .columnsection{
        display: flex;
        flex-direction: column;
        /* width: 390px;
        height: 950px; */
        width: 100%;
        height: 200%;
        padding-right: 0%;
        padding-left: 0%;
        margin-left: 0%;
        margin-right: 0px;
        background-color: aliceblue;
        margin-bottom: 15%;
        border-bottom: solid #00000099;
    }
    .column1{
        margin-right: 12%;
        margin-left: 12%;
        margin-bottom: 15%;
    }
    .column1 img{
        width: 95%;
        height: 190%;
    }
    .column2{
        margin-right: 16%;
        margin-left: 12%;
        margin-bottom: 8%;
    }
    .column2 img{
        width: 95%;
        height: 190%;
    }
    .contact-form{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-bottom: 10%;
        flex-wrap: wrap;
        border: solid black 0.5px;
        box-shadow: 3px 5px 15px 5px #ffffff99;
        border-radius: 2%;
        height: 10%;
        width: 90%;
        line-height: 175%;
    }
    textarea{
        max-width: 70%;
        max-height: 100%;
    }
    input{
        max-width: 35%;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        color: aliceblue;
        background-image: linear-gradient(to right ,rgba(0,0,0, 0.8), rgba(0,0,0, 0));
    }
    .profilepic, img{
        margin-left: 0%;
        height: 185%;
        width: 95%;
    }
 
}
@media screen and (min-width: 801px) and (max-width:1159px) {
    html{
        overflow-x: hidden;
        width: 100%;
    }
    body{
        overflow-x: hidden;
        width: 100vw
    };
    .navbar{
        /* background-color: rgb(75, 4, 4); */
        background-color: rgb(98, 252, 64);
        color: aliceblue;
        width: 100%;
        padding-left: 10%;
        position: relative;
    }
    .navbar i{
        padding-left: 0%;
    }
    header{
        position: fixed;
        z-index: 1;
    
    }
    .hero{
        color: aliceblue;
        background-image: url(./images/mh-tri-TadNRJiOHB4-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        width: 100%;
        border-bottom: solid #00000099;
    }
    .hero h2{
        color: white;
        display: flex;
        justify-content: center;
        font-weight: 600;
        justify-content: center;
        /* padding-top: 31%; */
    }
    h2{
        padding: 5%;
    
    }
    .logo{
        height: 15vh;
    }
    .nav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        width: 100vw;
        background-color: rgba(0,0,0, 0.8);
    }
    li{
        padding: 1%;
        justify-content: center;
    }
    a{
        color: aliceblue;
    }
    section{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        padding-bottom: 10%;
        width: 85%;
    }
    article{
        display: flex;
        justify-items: center;
        margin: 5% 15%;
        padding: 10%;
        border: black solid 2px;
        background-image: url(./images/austin-chan-ukzHlkoz1IE-unsplash.jpg);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15%;
    }
    .getquote{
        background-color: white;
        padding-left: 0%;
        opacity: .85;
        height: 40vh;
        border-bottom: solid #00000099;
    }
    .getquote h2{
        display: flex;
        justify-content: center;
    }
    .getquote button{
        margin-top: 10%;
        margin-left: 40%;
        border-radius: 1px;
        border-color: rgba(204, 108, 11, 1);
        background-color: transparent;
        padding: 5%;
        margin-bottom: 5%;
    }
    .quality{
        display: flex;
        flex-direction: column;
        /* border: solid black 2px; */
       margin:0;
    }
    .qualitytext{
        display: flex;
        flex-wrap: wrap;
        margin: 10%;
        /* border: solid black 2px; */
        padding-bottom: 5%;
    }
    
    .columnsection{
        display: flex;
        flex-direction: column;
        /* width: 390px;
        height: 950px; */
        width: 60%;
        height: 200%;
        padding-right: 2%;
        padding-left: 2%;
        margin-left: 20%;
        margin-right: 200px;
        background-color: aliceblue;
        margin-bottom: 15%;
        border-bottom: solid #00000099;
    }
    .column1{
        margin-right: 12%;
        margin-left: 12%;
        margin-bottom: 15%;
    }
    .column1 img{
        width: 95%;
        height: 190%;
    }
    .column2{
        margin-right: 16%;
        margin-left: 12%;
        margin-bottom: 8%;
    }
    .column2 img{
        width: 95%;
        height: 190%;
    }
    .contact-form{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-bottom: 10%;
        flex-wrap: wrap;
        border: solid black 0.5px;
        box-shadow: 3px 5px 15px 5px #ffffff99;
        border-radius: 2%;
        height: 10%;
        width: 90%;
        line-height: 175%;
    }
    textarea{
        max-width: 70%;
        max-height: 100%;
    }
    input{
        max-width: 35%;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        color: aliceblue;
        background-color: rgba(0,0,0, 0.8);
    }
    .profilepic, img{
        margin-left: 0%;
        height: 185%;
        width: 95%;
    }
 
}
/*@media screen (min-width:2700px) {
    
} */